@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import './cube.scss';

* {
	font-family: roboto, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(-180deg, #bcc5ce 0%, #929ead 98%), radial-gradient(at top left, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
	background-blend-mode: screen;
	height: 100vh;
	overflow: hidden;

	.back-highlight::before {
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 100%;
		height: 60%;
		padding: 0 3px;
		background-color: #444;
		opacity: 0.3;
		border-radius: 2px;
		transform: translateX(-50%) rotateZ(-2deg);
	}

	header {
		h2 {
			span {
				position: relative;
				font-weight: bold;
			}
		}
	}

	main {
		margin: auto;
	}

	nav {
		margin: 100px auto;

		ul {
			list-style-type: none;
			display: flex;

			li {
				font-size: 20px;
				line-height: 30px;
				margin: 0 15px;
				padding: 5px 15px;
				font-weight: bold;
				text-align: center;
				cursor: pointer;

				span {
					position: relative;
				}
			}
		}
	}
}