@import './mixins.scss';

.scene {
	.cube {
		.cubie {
			&.cubie-corner-position-0 {
				transform: translate3d(100px, -100px, 100px);

				.cubie-corner-orientation-0 .face-f .inner-sticker.has-tooltip:hover,
				.cubie-corner-orientation-1 .face-r .inner-sticker.has-tooltip:hover,
				.cubie-corner-orientation-2 .face-u .inner-sticker.has-tooltip:hover {
					@include inner-sticker-hover;
				}

				.cubie-corner-orientation-2 {
					.face-u .inner-sticker img,
					.face-u .inner-sticker:hover::before {
						transform: rotateZ(90deg);
					}
				}
			}
			&.cubie-corner-position-1 {
				transform: translate3d(-100px, -100px, 100px) rotateY(-90deg);

				.cubie-corner-orientation-0 .face-r .inner-sticker.has-tooltip:hover,
				.cubie-corner-orientation-1 .face-u .inner-sticker.has-tooltip:hover,
				.cubie-corner-orientation-2 .face-f .inner-sticker.has-tooltip:hover {
					@include inner-sticker-hover;
				}

				.face-u .inner-sticker img {
					transform: rotateZ(-90deg);
				}

				.cubie-corner-orientation-1 {
					.face-u .inner-sticker {
						& img,
						&:hover::before {
							transform: rotateZ(-180deg);
						}
					}
				}

				.cubie-corner-orientation-2 {
					.face-u .inner-sticker img {
						transform: rotateZ(90deg);
					}
				}
			}
			&.cubie-corner-position-2 {
				transform: translate3d(100px, -100px, -100px) rotateY(90deg);

				.face-u .inner-sticker img {
					transform: rotateZ(90deg);
				}
			}
			&.cubie-corner-position-3 {
				transform: translate3d(-100px, -100px, -100px) rotateY(180deg);

				.face-u .inner-sticker img {
					transform: rotateZ(-180deg);
				}
			}
			&.cubie-corner-position-4 {
				transform: translate3d(100px, 100px, 100px) rotateX(180deg) rotateY(90deg);

				.cubie-corner-orientation-0 .face-r .inner-sticker.has-tooltip:hover,
				.cubie-corner-orientation-1 .face-u .inner-sticker.has-tooltip:hover,
				.cubie-corner-orientation-2 .face-f .inner-sticker.has-tooltip:hover {
					@include inner-sticker-hover;
				}
			}
			&.cubie-corner-position-5 {
				transform: translate3d(-100px, 100px, 100px) rotateX(180deg) rotateY(180deg);

				.cubie-corner-orientation-0 .face-f .inner-sticker.has-tooltip:hover,
				.cubie-corner-orientation-1 .face-r .inner-sticker.has-tooltip:hover,
				.cubie-corner-orientation-2 .face-u .inner-sticker.has-tooltip:hover {
					@include inner-sticker-hover;
				}

				.cubie-corner-orientation-2 {
					.face-u .inner-sticker img,
					.face-u .inner-sticker:hover::before {
						transform: rotateZ(-90deg);
					}
				}
			}
			&.cubie-corner-position-6 {
				transform: translate3d(100px, 100px, -100px) rotateX(180deg);
			}
			&.cubie-corner-position-7 {
				transform: translate3d(-100px, 100px, -100px) rotateX(180deg) rotateY(-90deg);

				.cubie-corner-orientation-2 {
					.face-u .inner-sticker img {
						transform: rotateZ(-90deg);
					}
				}
			}

			&.cubie-corner-orientation-1 {
				transform: rotateY(-90deg) rotateX(90deg);
			}
			&.cubie-corner-orientation-2 {
				transform: rotateY(90deg) rotateZ(-90deg);
			}
		}
	}
}
