@import './corners.scss';
@import './edges.scss';
@import './middles.scss';
@import './faces.scss';
@import './moves.scss';

.scene {
	margin: 30vh auto;
	width: 100px;
	perspective: 1000px;
	perspective-origin: 50% 50%;

	.cube {
		position: relative;
		transform-style: preserve-3d;
		transform-origin: 50px 50px;
		transform: rotateX(-20deg) rotateY(20deg) rotateZ(5deg);

		.cube-layer {
			transform-style: preserve-3d;
			transform-origin: 50px 50px;			
		}

		.cubie {
			transform-style: preserve-3d;
			transform-origin: 50px 50px;									
		}		
	}

	@media (max-width: 500px) {
		& {
			transform: scale(0.7);
		}
	}
	@media (max-width: 400px) {
		& {
			transform: scale(0.6);
		}
	}
}
