.scene {
	.cube {
		.cubie {
			&.cubie-edge-position-uf {
				transform: translate3d(0px, -100px, 100px);

				.cubie-edge-orientation-0 .face-f .inner-sticker,
				.cubie-edge-orientation-1 .face-u .inner-sticker {
					@include inner-sticker-front;
				}

				.cubie-edge-orientation-1 {
					.face-u .inner-sticker > *,
					.face-u .inner-sticker:hover::before {
						transform: rotateZ(180deg);
					}
				}
			}
			&.cubie-edge-position-ul {
				transform: translate3d(-100px, -100px, 0px) rotateY(-90deg);

				.face-u .inner-sticker > * {
					transform: rotateZ(-90deg);
				}

				.cubie-edge-orientation-1 {
					.face-u .inner-sticker > * {
						transform: rotateZ(180deg);
					}

					.face-f .inner-sticker > * {
						transform: rotateZ(90deg);
					}
				}
			}
			&.cubie-edge-position-ur {
				transform: translate3d(100px, -100px, 0px) rotateY(90deg);

				.face-u .inner-sticker > * {
					transform: rotateZ(90deg);
				}
			}
			&.cubie-edge-position-ub {
				transform: translate3d(0px, -100px, -100px) rotateY(180deg);

				.face-u .inner-sticker > * {
					transform: rotateZ(-180deg);
				}
			}
			&.cubie-edge-position-df {
				transform: translate3d(0px, 100px, 100px) rotateX(180deg) rotateY(180deg);

				.cubie-edge-orientation-0 .face-f .inner-sticker,
				.cubie-edge-orientation-1 .face-u .inner-sticker {
					@include inner-sticker-front;
				}

				.cubie-edge-orientation-0 {
					.face-f .inner-sticker > *,
					.face-f .inner-sticker:hover::before {
						transform: rotateZ(180deg);
					}
				}
			}
			&.cubie-edge-position-dl {
				transform: translate3d(-100px, 100px, 0px) rotateX(180deg) rotateY(-90deg);		
				
				.cubie-edge-orientation-0 {
					.face-f .inner-sticker > * {
						transform: rotateZ(180deg);
					}
				}
			}
			&.cubie-edge-position-dr {
				transform: translate3d(100px, 100px, 0px) rotateX(180deg) rotateY(90deg);
			}
			&.cubie-edge-position-db {
				transform: translate3d(0px, 100px, -100px) rotateX(180deg);
			}
			&.cubie-edge-position-fr {
				transform: translate3d(100px, 0px, 100px) rotateX(-90deg) rotateY(90deg);

				.cubie-edge-orientation-0 .face-u .inner-sticker,
				.cubie-edge-orientation-1 .face-f .inner-sticker {
					@include inner-sticker-front;
				}

				.face-u .inner-sticker > *,
				.face-u .inner-sticker:hover::before {
					transform: rotateZ(90deg);
				}

				.cubie-edge-orientation-1 {
					.face-f .inner-sticker > *,
					.face-f .inner-sticker:hover::before {
						transform: rotateZ(-90deg);
					}
				}
			}
			&.cubie-edge-position-fl {
				transform: translate3d(-100px, 0px, 100px) rotateX(-90deg) rotateY(-90deg);

				.cubie-edge-orientation-0 .face-u .inner-sticker,
				.cubie-edge-orientation-1 .face-f .inner-sticker {
					@include inner-sticker-front;
				}

				.face-u .inner-sticker > *,
				.face-u .inner-sticker:hover::before {
					transform: rotateZ(-90deg);
				}

				.cubie-edge-orientation-1 {
					.face-f .inner-sticker > *,
					.face-f .inner-sticker:hover::before {
						transform: rotateZ(90deg);
					}
				}

				.cubie-edge-orientation-0 {
					.face-f .inner-sticker > * {
						transform: rotateZ(-90deg);
					}
				}
			}
			&.cubie-edge-position-br {
				transform: translate3d(100px, 0px, -100px) rotateX(90deg) rotateY(90deg);
			}
			&.cubie-edge-position-bl {
				transform: translate3d(-100px, 0px, -100px) rotateX(90deg) rotateY(-90deg);

				.cubie-edge-orientation-1 {
					.face-u .inner-sticker > * {
						transform: rotateZ(-90deg);
					}
				}

				.cubie-edge-orientation-0 {
					.face-f .inner-sticker > * {
						transform: rotateZ(90deg);
					}
				}
			}

			&.cubie-edge-orientation-1 {
				transform: rotateX(-90deg) rotateY(180deg);
			}
		}
	}
}
