.scene {
  margin: 30vh auto;
  width: 100px;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}
.scene .cube {
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50px 50px;
  transform: rotateX(-20deg) rotateY(20deg) rotateZ(5deg);
  transition: transform 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.scene .cube .cube-layer {
  transform-style: preserve-3d;
  transform-origin: 50px 50px;
}
.scene .cube .cube-layer.turn {
  transition: transform 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.scene .cube .cube-layer.turn-u1, .scene .cube .cube-layer.turn-d3 {
  transform: rotateY(-90deg);
}
.scene .cube .cube-layer.turn-f1, .scene .cube .cube-layer.turn-b3 {
  transform: rotateZ(90deg);
}
.scene .cube .cube-layer.turn-r1, .scene .cube .cube-layer.turn-l3 {
  transform: rotateX(90deg);
}
.scene .cube .cube-layer.turn-l1, .scene .cube .cube-layer.turn-r3 {
  transform: rotateX(-90deg);
}
.scene .cube .cube-layer.turn-b1, .scene .cube .cube-layer.turn-f3 {
  transform: rotateZ(-90deg);
}
.scene .cube .cube-layer.turn-d1, .scene .cube .cube-layer.turn-u3 {
  transform: rotateY(90deg);
}
.scene .cube .cube-layer.turn-u2 {
  transform: rotateY(-180deg);
}
.scene .cube .cube-layer.turn-f2 {
  transform: rotateZ(180deg);
}
.scene .cube .cube-layer.turn-r2 {
  transform: rotateX(180deg);
}
.scene .cube .cube-layer.turn-l2 {
  transform: rotateX(-180deg);
}
.scene .cube .cube-layer.turn-b2 {
  transform: rotateZ(-180deg);
}
.scene .cube .cube-layer.turn-d2 {
  transform: rotateY(180deg);
}
.scene .cube .cube-layer.turn-m1 {
  transform: rotateX(-90deg);
}
.scene .cube .cube-layer.turn-m2 {
  transform: rotateX(180deg);
}
.scene .cube .cube-layer.turn-m3 {
  transform: rotateX(-90deg);
}
.scene .cube .cube-layer.turn-e1 {
  transform: rotateY(90deg);
}
.scene .cube .cube-layer.turn-e2 {
  transform: rotateY(180deg);
}
.scene .cube .cube-layer.turn-e3 {
  transform: rotateY(-90deg);
}
.scene .cube .cube-layer.turn-s1 {
  transform: rotateZ(90deg);
}
.scene .cube .cube-layer.turn-s2 {
  transform: rotateZ(180deg);
}
.scene .cube .cube-layer.turn-s3 {
  transform: rotateZ(-90deg);
}
.scene .cube .cubie {
  transform-style: preserve-3d;
  transform-origin: 50px 50px;
}
.scene .cube .cubie.cubie-corner-position-0 {
  transform: translate3d(100px, -100px, 100px);
}
.scene .cube .cubie.cubie-corner-position-0 .cubie-corner-orientation-2 .face-u .inner-sticker img {
  transform: rotateZ(90deg);
}
.scene .cube .cubie.cubie-corner-position-1 {
  transform: translate3d(-100px, -100px, 100px) rotateY(-90deg);
}
.scene .cube .cubie.cubie-corner-position-1 .face-u .inner-sticker img {
  transform: rotateZ(-90deg);
}
.scene .cube .cubie.cubie-corner-position-1 .cubie-corner-orientation-1 .face-u .inner-sticker img {
  transform: rotateZ(-180deg);
}
.scene .cube .cubie.cubie-corner-position-1 .cubie-corner-orientation-2 .face-u .inner-sticker img {
  transform: rotateZ(90deg);
}
.scene .cube .cubie.cubie-corner-position-2 {
  transform: translate3d(100px, -100px, -100px) rotateY(90deg);
}
.scene .cube .cubie.cubie-corner-position-2 .face-u .inner-sticker img {
  transform: rotateZ(90deg);
}
.scene .cube .cubie.cubie-corner-position-3 {
  transform: translate3d(-100px, -100px, -100px) rotateY(180deg);
}
.scene .cube .cubie.cubie-corner-position-3 .face-u .inner-sticker img {
  transform: rotateZ(-180deg);
}
.scene .cube .cubie.cubie-corner-position-4 {
  transform: translate3d(100px, 100px, 100px) rotateX(180deg) rotateY(90deg);
}
.scene .cube .cubie.cubie-corner-position-5 {
  transform: translate3d(-100px, 100px, 100px) rotateX(180deg) rotateY(180deg);
}
.scene .cube .cubie.cubie-corner-position-5 .cubie-corner-orientation-2 .face-u .inner-sticker img {
  transform: rotateZ(-90deg);
}
.scene .cube .cubie.cubie-corner-position-6 {
  transform: translate3d(100px, 100px, -100px) rotateX(180deg);
}
.scene .cube .cubie.cubie-corner-position-7 {
  transform: translate3d(-100px, 100px, -100px) rotateX(180deg) rotateY(-90deg);
}
.scene .cube .cubie.cubie-corner-position-7 .cubie-corner-orientation-2 .face-u .inner-sticker img {
  transform: rotateZ(-90deg);
}
.scene .cube .cubie.cubie-corner-orientation-1 {
  transform: rotateY(-90deg) rotateX(90deg);
}
.scene .cube .cubie.cubie-corner-orientation-2 {
  transform: rotateY(90deg) rotateZ(-90deg);
}
.scene .cube .cubie.cubie-edge-position-0 {
  transform: translate3d(0px, -100px, 100px);
}
.scene .cube .cubie.cubie-edge-position-0 .cubie-edge-orientation-1 .face-u .inner-sticker img {
  transform: rotateZ(180deg);
}
.scene .cube .cubie.cubie-edge-position-1 {
  transform: translate3d(-100px, -100px, 0px) rotateY(-90deg);
}
.scene .cube .cubie.cubie-edge-position-1 .face-u .inner-sticker img {
  transform: rotateZ(-90deg);
}
.scene .cube .cubie.cubie-edge-position-1 .cubie-edge-orientation-1 .face-u .inner-sticker img {
  transform: rotateZ(180deg);
}
.scene .cube .cubie.cubie-edge-position-2 {
  transform: translate3d(100px, -100px, 0px) rotateY(90deg);
}
.scene .cube .cubie.cubie-edge-position-2 .face-u .inner-sticker img {
  transform: rotateZ(90deg);
}
.scene .cube .cubie.cubie-edge-position-3 {
  transform: translate3d(0px, -100px, -100px) rotateY(180deg);
}
.scene .cube .cubie.cubie-edge-position-3 .face-u .inner-sticker img {
  transform: rotateZ(-180deg);
}
.scene .cube .cubie.cubie-edge-position-4 {
  transform: translate3d(0px, 100px, 100px) rotateX(180deg) rotateY(180deg);
}
.scene .cube .cubie.cubie-edge-position-5 {
  transform: translate3d(-100px, 100px, 0px) rotateX(180deg) rotateY(-90deg);
}
.scene .cube .cubie.cubie-edge-position-6 {
  transform: translate3d(100px, 100px, 0px) rotateX(180deg) rotateY(90deg);
}
.scene .cube .cubie.cubie-edge-position-7 {
  transform: translate3d(0px, 100px, -100px) rotateX(180deg);
}
.scene .cube .cubie.cubie-edge-position-8 {
  transform: translate3d(100px, 0px, 100px) rotateX(-90deg) rotateY(90deg);
}
.scene .cube .cubie.cubie-edge-position-8 .face-u .inner-sticker img {
  transform: rotateZ(90deg);
}
.scene .cube .cubie.cubie-edge-position-9 {
  transform: translate3d(-100px, 0px, 100px) rotateX(-90deg) rotateY(-90deg);
}
.scene .cube .cubie.cubie-edge-position-9 .face-u .inner-sticker img {
  transform: rotateZ(-90deg);
}
.scene .cube .cubie.cubie-edge-position-10 {
  transform: translate3d(100px, 0px, -100px) rotateX(90deg) rotateY(90deg);
}
.scene .cube .cubie.cubie-edge-position-11 {
  transform: translate3d(-100px, 0px, -100px) rotateX(90deg) rotateY(-90deg);
}
.scene .cube .cubie.cubie-edge-position-11 .cubie-edge-orientation-1 .face-u .inner-sticker img {
  transform: rotateZ(-90deg);
}
.scene .cube .cubie.cubie-edge-orientation-1 {
  transform: rotateX(-90deg) rotateY(180deg);
}
.scene .cube .cubie.cubie-middle-orientation-r {
  transform: rotateY(90deg);
}
.scene .cube .cubie.cubie-middle-orientation-b {
  transform: rotateY(180deg);
}
.scene .cube .cubie.cubie-middle-orientation-l {
  transform: rotateY(-90deg);
}
.scene .cube .cubie.cubie-middle-orientation-u {
  transform: rotateX(90deg);
}
.scene .cube .cubie.cubie-middle-orientation-d {
  transform: rotateX(-90deg);
}
.scene .cube .cubie.cubie-middle-r {
  transform: translate3d(100px, 0px, 0px);
}
.scene .cube .cubie.cubie-middle-l {
  transform: translate3d(-100px, 0px, 0px);
}
.scene .cube .cubie.cubie-middle-f {
  transform: translate3d(0px, 0px, 100px);
}
.scene .cube .cubie.cubie-middle-b {
  transform: translate3d(0px, 0px, -100px);
}
.scene .cube .cubie.cubie-middle-u {
  transform: translate3d(0px, -100px, 0px);
}
.scene .cube .cubie.cubie-middle-d {
  transform: translate3d(0px, 100px, 0px);
}
.scene .cube .cubie .cubie-face {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: black;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 5px;
}
.scene .cube .cubie .cubie-face.face-u {
  transform: rotateX(90deg) translateZ(50px);
}
.scene .cube .cubie .cubie-face.face-f {
  transform: translateZ(50px);
}
.scene .cube .cubie .cubie-face.face-r {
  transform: rotateY(90deg) translateZ(50px);
}
.scene .cube .cubie .cubie-face.face-l {
  transform: rotateY(-90deg) translateZ(50px);
}
.scene .cube .cubie .cubie-face.face-b {
  transform: rotateY(180deg) translateZ(50px);
}
.scene .cube .cubie .cubie-face.face-d {
  transform: rotateX(-90deg) translateZ(50px);
}
.scene .cube .cubie .cubie-face.cubie-sticker {
  background-color: black;
  background-size: 600px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scene .cube .cubie .cubie-face.sticker-u .inner-sticker {
  background-color: #e9d14b;
}
.scene .cube .cubie .cubie-face.sticker-f .inner-sticker {
  background-color: #f2c0b7;
}
.scene .cube .cubie .cubie-face.sticker-r .inner-sticker {
  background-color: #88beaf;
}
.scene .cube .cubie .cubie-face.sticker-l .inner-sticker {
  background-color: #00679b;
}
.scene .cube .cubie .cubie-face.sticker-b .inner-sticker {
  background-color: #d4a079;
}
.scene .cube .cubie .cubie-face.sticker-d .inner-sticker {
  background-color: #fffbff;
}
.scene .cube .cubie .cubie-face.sticker-u {
  background-position-x: 0;
}
.scene .cube .cubie .cubie-face.sticker-f {
  background-position-x: -100px;
}
.scene .cube .cubie .cubie-face.sticker-r {
  background-position-x: -200px;
}
.scene .cube .cubie .cubie-face.sticker-l {
  background-position-x: -300px;
}
.scene .cube .cubie .cubie-face.sticker-b {
  background-position-x: -400px;
}
.scene .cube .cubie .cubie-face.sticker-d {
  background-position-x: -500px;
}
.scene .cube .cubie .cubie-face .inner-sticker {
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scene .cube .cubie .cubie-face .inner-sticker img {
  max-width: 70%;
  max-height: 70%;
}
.scene .cube .cubie [class*=cubie-middle] .cubie-sticker::before {
  position: absolute;
  transform-style: preserve-3d;
  font-size: 30px;
  display: block;
  transform: translate3d(0, 0, 75px);
  content: "";
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 600;
  content: attr(title);
  transition: transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@media (max-width: 500px) {
  .scene {
    transform: scale(0.7);
  }
}
@media (max-width: 400px) {
  .scene {
    transform: scale(0.6);
  }
}

/*# sourceMappingURL=cube.css.map */
