.scene {
  margin: 30vh auto;
  width: 100px;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}
.scene .cube {
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50px 50px;
  transform: rotateX(-20deg) rotateY(20deg) rotateZ(5deg);
  transition: transform 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.scene .cube .cube-layer {
  transform-style: preserve-3d;
  transform-origin: 50px 50px;
  transition: transform 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.scene .cube .cube-layer.middle .cubie-sticker::before {
  position: absolute;
  transform-style: preserve-3d;
  font-size: 30px;
  display: block;
  transform: translate3d(0, 0, 75px);
  content: "";
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 600;
  content: attr(title);
  transition: transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}
.scene .cube .cube-layer .cubie {
  transform-style: preserve-3d;
  transform-origin: 50px 50px;
}
.scene .cube .cube-layer .cubie .cubie-face {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: black;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 5px;
}
.scene .cube .cube-layer .cubie .cubie-face.face-u {
  transform: rotateX(90deg) translateZ(50px);
}
.scene .cube .cube-layer .cubie .cubie-face.face-f {
  transform: translateZ(50px);
}
.scene .cube .cube-layer .cubie .cubie-face.face-r {
  transform: rotateY(90deg) translateZ(50px);
}
.scene .cube .cube-layer .cubie .cubie-face.face-l {
  transform: rotateY(-90deg) translateZ(50px);
}
.scene .cube .cube-layer .cubie .cubie-face.face-b {
  transform: rotateY(180deg) translateZ(50px);
}
.scene .cube .cube-layer .cubie .cubie-face.face-d {
  transform: rotateX(-90deg) translateZ(50px);
}
.scene .cube .cube-layer .cubie .cubie-face.cubie-sticker {
  background-color: black;
  background-size: 600px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scene .cube .cube-layer .cubie .cubie-face.sticker-u .inner-sticker {
  background-color: #e9d14b;
}
.scene .cube .cube-layer .cubie .cubie-face.sticker-f .inner-sticker {
  background-color: #f2c0b7;
}
.scene .cube .cube-layer .cubie .cubie-face.sticker-r .inner-sticker {
  background-color: #88beaf;
}
.scene .cube .cube-layer .cubie .cubie-face.sticker-l .inner-sticker {
  background-color: #00679b;
}
.scene .cube .cube-layer .cubie .cubie-face.sticker-b .inner-sticker {
  background-color: #d4a079;
}
.scene .cube .cube-layer .cubie .cubie-face.sticker-d .inner-sticker {
  background-color: #fffbff;
}
.scene .cube .cube-layer .cubie .cubie-face.sticker-u {
  background-position-x: 0;
}
.scene .cube .cube-layer .cubie .cubie-face.sticker-f {
  background-position-x: -100px;
}
.scene .cube .cube-layer .cubie .cubie-face.sticker-r {
  background-position-x: -200px;
}
.scene .cube .cube-layer .cubie .cubie-face.sticker-l {
  background-position-x: -300px;
}
.scene .cube .cube-layer .cubie .cubie-face.sticker-b {
  background-position-x: -400px;
}
.scene .cube .cube-layer .cubie .cubie-face.sticker-d {
  background-position-x: -500px;
}
.scene .cube .cube-layer .cubie .cubie-face .inner-sticker {
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}
.scene .cube .cube-layer .cubie .cubie-face .inner-sticker img {
  max-width: 70%;
  max-height: 70%;
}
.scene .cube .cube-layer[data-current-position*=f] .inner-sticker {
  cursor: pointer;
}
.scene .cube .cube-layer[data-current-position*=f] .inner-sticker:hover {
  transform: scale(1.07);
}
.scene .cube .cube-layer[data-current-position*=f] .inner-sticker:hover::before {
  position: absolute;
  content: attr(tooltip);
  line-height: 30px;
  background-color: black;
  opacity: 0.7;
  z-index: 3;
  color: white;
  border-radius: 5px;
  padding: 0 5px;
}
@media (max-width: 500px) {
  .scene {
    transform: scale(0.7);
  }
}
@media (max-width: 400px) {
  .scene {
    transform: scale(0.6);
  }
}

/*# sourceMappingURL=cube.css.map */
