$red: #f2c0b7;
$orange: #d4a079;
$green: #88beaf;
$blue: #00679b;
$yellow: #e9d14b;
$white: #fffbff;

.scene {
	margin: 30vh auto;
	width: 100px;
	perspective: 1000px;
	perspective-origin: 50% 50%;

	.cube {
		position: relative;
		transform-style: preserve-3d;
		transform-origin: 50px 50px;
		transform: rotateX(-20deg) rotateY(20deg) rotateZ(5deg);
		transition: transform 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);

		.cube-layer {
			transform-style: preserve-3d;
			transform-origin: 50px 50px;
			transition: transform 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);

			&.middle .cubie-sticker::before {
				position: absolute;
				transform-style: preserve-3d;
				font-size: 30px;
				display: block;
				transform: translate3d(0, 0, 75px);
				content: '';
				text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
				color: #fff;
				font-weight: 600;
				content: attr(title);
				transition: transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
				pointer-events: none;
			}

			.cubie {
				transform-style: preserve-3d;
				transform-origin: 50px 50px;

				.cubie-face {
					position: absolute;
					width: 100px;
					height: 100px;
					background-color: black;
					transform-style: preserve-3d;
					backface-visibility: hidden;
					border-radius: 5px;

					&.face-u {
						transform: rotateX(90deg) translateZ(50px);
					}
					&.face-f {
						transform: translateZ(50px);
					}
					&.face-r {
						transform: rotateY(90deg) translateZ(50px);
					}
					&.face-l {
						transform: rotateY(-90deg) translateZ(50px);
					}
					&.face-b {
						transform: rotateY(180deg) translateZ(50px);
					}
					&.face-d {
						transform: rotateX(-90deg) translateZ(50px);
					}

					&.cubie-sticker {
						background-color: black;
						background-size: 600px 100px;
						display: flex;
						align-items: center;
						justify-content: center;
					}

					&.sticker-u .inner-sticker {
						background-color: $yellow;
					}
					&.sticker-f .inner-sticker {
						background-color: $red;
					}
					&.sticker-r .inner-sticker {
						background-color: $green;
					}
					&.sticker-l .inner-sticker {
						background-color: $blue;
					}
					&.sticker-b .inner-sticker {
						background-color: $orange;
					}
					&.sticker-d .inner-sticker {
						background-color: $white;
					}

					&.sticker-u {
						background-position-x: 0;
					}
					&.sticker-f {
						background-position-x: -100px;
					}
					&.sticker-r {
						background-position-x: -200px;
					}
					&.sticker-l {
						background-position-x: -300px;
					}
					&.sticker-b {
						background-position-x: -400px;
					}
					&.sticker-d {
						background-position-x: -500px;
					}

					.inner-sticker {
						position: absolute;
						width: 90%;
						height: 90%;
						border-radius: 5px;
						display: flex;
						align-items: center;
						justify-content: center;						
						transition: transform 0.2s ease-in-out;						

						img {
							max-width: 70%;
							max-height: 70%;
						}
					}
				}
			}

			&[data-current-position*="f"] .inner-sticker {
				cursor: pointer;

				&:hover {
					transform: scale(1.07);
				}

				&:hover::before {
					position: absolute;
					content: attr(tooltip);
					line-height: 30px;
					background-color: black;
					opacity: 0.7;
					z-index: 3;
					color: white;
					border-radius: 5px;
					padding: 0 5px;
				}
			}
		}
	}

	@media (max-width: 500px) {
		& {
			transform: scale(0.7);
		}
	}
	@media (max-width: 400px) {
		& {
			transform: scale(0.6);
		}
	}
}
